
.logo{
  background: #fff url('@static/telegram_logo.png') center center no-repeat;
  width: 300px;
  height: 268px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top:auto;
  margin-bottom:auto;
  margin-left:auto;
  margin-right:auto;
  transform: scale(0,0);
}

iframe{
  display: none;
}
